<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [10]:
# your code goes here

duplicate_rows = df[df.duplicated()]

num_duplicate_rows = len(duplicate_rows)

print(f"Number of duplicate rows: {num_duplicate_rows}")

Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [11]:
# your code goes here

df_unique = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [12]:
# your code goes here
duplicate_rows1 = df_unique[df_unique.duplicated()]
num_duplicate_rows1 = len(duplicate_rows1)

print(f"Number of duplicates: {num_duplicate_rows1}")

Number of duplicates: 0

## Finding Missing values

Find the missing values for all columns.

In [14]:
# your code goes here
import numpy as np

WorkLocFind out how many rows are missing in the column 'WorkLoc'

In [40]:
df_unique.replace("?",np.nan,inplace=True)

missing_data_WorkLoc = df_unique[df_unique['WorkLoc'].isnull()]
#print(f"Number of Rows NaN WorkLoc Columns: {missing_data}")

df_WorkLoc_NaN = len(missing_data_WorkLoc)

print(f"Number of Rows NaN WorkLoc Columns: {df_WorkLoc_NaN}")

Number of Rows NaN WorkLoc Columns: 32

In [41]:
rows = len(df_unique['WorkLoc'])
print(f"Number of Rows WorkLoc Columns: {rows}")

Number of Rows WorkLoc Columns: 11398

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [44]:
# your code goes here
workloc_count = df_unique['WorkLoc'].value_counts()

print(f"{workloc_count}")

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [45]:
#make a note of the majority value here, for future reference
#
print(f"most frequent (majority) in the WorkLoc: Office 6806")

most frequent (majority) in the WorkLoc: Office 6806

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [46]:
# your code goes here
df_unique['WorkLoc'].replace(np.nan,"Office",inplace=True)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [47]:
# your code goes here
missing_data_WorkLoc1 = df_unique[df_unique['WorkLoc'].isnull()]

df_WorkLoc_NaN1 = len(missing_data_WorkLoc1)

print(f"Number of Rows NaN WorkLoc Columns: {df_WorkLoc_NaN1}")

Number of Rows NaN WorkLoc Columns: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [50]:
# your code goes here
salary_Freq = df_unique['CompFreq'].value_counts()
print(salary_Freq)

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [56]:
# your code goes here
df_unique['NormalizedAnnualCompensation'] =  np.where(df_unique['CompFreq'] == 'Yearly',df_unique['CompTotal'],
                                            np.where(df_unique['CompFreq'] == 'Monthly',df_unique['CompTotal'] * 12,
                                                     df_unique['CompTotal'] * 52))

print(df_unique[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']])

      CompFreq  CompTotal  NormalizedAnnualCompensation
0       Yearly    61000.0                       61000.0
1       Yearly   138000.0                      138000.0
2       Yearly    90000.0                       90000.0
3      Monthly    29000.0                      348000.0
4       Yearly    90000.0                       90000.0
...        ...        ...                           ...
11547   Yearly   130000.0                      130000.0
11548   Yearly    74400.0                       74400.0
11549   Yearly   105000.0                      105000.0
11550   Yearly    80000.0                       80000.0
11551      NaN        NaN                           NaN

[11398 rows x 3 columns]

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).